ui-tienda/src/conf/xml-resources/web-service-references/ClienteWs/wsdl/localhost_8080/ClienteWs/ClienteWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService.promerica.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService.promerica.com/" name="ClienteWs">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService.promerica.com/" schemaLocation="http://localhost:8080/ClienteWs/ClienteWs?xsd=1"/>
</xsd:schema>
</types>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<portType name="ClienteWs">
<operation name="editar">
<input wsam:Action="http://WebService.promerica.com/ClienteWs/editar" message="tns:editar"/>
</operation>
<operation name="listar">
<input wsam:Action="http://WebService.promerica.com/ClienteWs/listarRequest" message="tns:listar"/>
<output wsam:Action="http://WebService.promerica.com/ClienteWs/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://WebService.promerica.com/ClienteWs/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://WebService.promerica.com/ClienteWs/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WebService.promerica.com/ClienteWs/eliminar" message="tns:eliminar"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://WebService.promerica.com/ClienteWs/insertar" message="tns:insertar"/>
</operation>
</portType>
<binding name="ClienteWsPortBinding" type="tns:ClienteWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="ClienteWs">
<port name="ClienteWsPort" binding="tns:ClienteWsPortBinding">
<soap:address location="http://localhost:8080/ClienteWs/ClienteWs"/>
</port>
</service>
</definitions>