ws-tienda/src/java/META-INF/wsit-com.promerica.WebService.OrdenWs.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenWs" targetNamespace="http://WebService.promerica.com/" xmlns:tns="http://WebService.promerica.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="insertar"/>
    <message name="insertarResponse"/>
    <message name="editar"/>
    <message name="editarResponse"/>
    <message name="eliminar"/>
    <message name="eliminarResponse"/>
    <message name="buscar"/>
    <message name="buscarResponse"/>
    <message name="listar"/>
    <message name="listarResponse"/>
    <portType name="OrdenWs">
        <operation name="insertar">
            <input message="tns:insertar"/>
            <output message="tns:insertarResponse"/>
        </operation>
        <operation name="editar">
            <input message="tns:editar"/>
            <output message="tns:editarResponse"/>
        </operation>
        <operation name="eliminar">
            <input message="tns:eliminar"/>
            <output message="tns:eliminarResponse"/>
        </operation>
        <operation name="buscar">
            <input message="tns:buscar"/>
            <output message="tns:buscarResponse"/>
        </operation>
        <operation name="listar">
            <input message="tns:listar"/>
            <output message="tns:listarResponse"/>
        </operation>
    </portType>
    <binding name="OrdenWsPortBinding" type="tns:OrdenWs">
        <wsp:PolicyReference URI="#OrdenWsPortBindingPolicy"/>
        <operation name="insertar">
            <input/>
            <output/>
        </operation>
        <operation name="editar">
            <input/>
            <output/>
        </operation>
        <operation name="eliminar">
            <input/>
            <output/>
        </operation>
        <operation name="buscar">
            <input/>
            <output/>
        </operation>
        <operation name="listar">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="OrdenWs">
        <port name="OrdenWsPort" binding="tns:OrdenWsPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="OrdenWsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
