ui-tienda/src/conf/xml-resources/web-service-references/OrdenWs/wsdl/localhost_8080/OrdenWs/OrdenWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService.promerica.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService.promerica.com/" name="OrdenWs">
<wsp:Policy wsu:Id="OrdenWsPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://WebService.promerica.com/" schemaLocation="http://localhost:8080/OrdenWs/OrdenWs?xsd=1"/>
</xsd:schema>
</types>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<portType name="OrdenWs">
<operation name="editar">
<input wsam:Action="http://WebService.promerica.com/OrdenWs/editar" message="tns:editar"/>
</operation>
<operation name="listar">
<input wsam:Action="http://WebService.promerica.com/OrdenWs/listarRequest" message="tns:listar"/>
<output wsam:Action="http://WebService.promerica.com/OrdenWs/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://WebService.promerica.com/OrdenWs/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://WebService.promerica.com/OrdenWs/buscarResponse" message="tns:buscarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WebService.promerica.com/OrdenWs/eliminar" message="tns:eliminar"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://WebService.promerica.com/OrdenWs/insertar" message="tns:insertar"/>
</operation>
</portType>
<binding name="OrdenWsPortBinding" type="tns:OrdenWs">
<wsp:PolicyReference URI="#OrdenWsPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="OrdenWs">
<port name="OrdenWsPort" binding="tns:OrdenWsPortBinding">
<soap:address location="http://localhost:8080/OrdenWs/OrdenWs"/>
</port>
</service>
</definitions>