ui-tienda/src/conf/xml-resources/web-service-references/OrdenWs/wsdl/localhost_8080/OrdenWs/OrdenWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService.promerica.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService.promerica.com/">

<xs:element name="buscar" type="tns:buscar"/>

<xs:element name="buscarResponse" type="tns:buscarResponse"/>

<xs:element name="editar" type="tns:editar"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="insertar" type="tns:insertar"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="entity" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orden">
<xs:sequence>
<xs:element name="id_orden" type="xs:int" minOccurs="0"/>
<xs:element name="client" type="tns:cliente" minOccurs="0"/>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar">
<xs:sequence>
<xs:element name="entity" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:orden" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscar">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarResponse">
<xs:sequence>
<xs:element name="return" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="entity" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>